<main class="main-container">
  <div class="promo-container">
    <ng-container>
      <div class="promo-card">
        <div class="promo">
          <div class="promo-ico">
            <img src="./assets/super-vente.png" alt="super sale image" />
          </div>
          <div class="promo-date">{{ currentDate }}</div>
          <div class="promotion-text">
            <h2>
              Promotion du jour <br />
              همزة اليوم
            </h2>
          </div>
        </div>
        <div class="products"></div>
      </div>
    </ng-container>
  </div>

  <div class="product-container">
    <ng-container>
      <app-product-swiper></app-product-swiper>
    </ng-container>
  </div>
</main>
