main {
  position: relative;
  margin-top: 1.5rem;
  width: 96%;

  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  border: solid 3.5px #641fa0;
  border-radius: 10px;
  box-shadow: none;
  display: flex;
  align-items: center;
}
.promo-card {
  font-family: "Roboto", sans-serif;
  width: 29vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.promo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.promo-ico img {
  width: 85px;
  margin-bottom: 10px;
}

.promo-date {
  background-color: #641fa0;
  color: white;
  width: 200px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0;
  border-radius: 4px;
}
.promotion-text {
  margin-top: 24px;
}
.promotion-text h2 {
  font-size: x-large;
  width: 250px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;

  font-weight: 600;
}

.product-container {
  width: 65vw;
}

.product-container {
  /* position: absolute;
  right: 20px; */
}

@media screen and (max-width: 890px) {
  main {
    flex-direction: column;
    height: 75vh;
  }
  .promo-container {
    margin-top: 3vh;
  }
  .product-container {
    width: 90vw;
  }
}
@media screen and (max-width: 370px) {
  .product-container {
    width: 65vw;
  }
}
