.section {
  margin-top: 30px;
  width: 112vw;
  background-color: #650da7;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 10rem;
  color: white;
}
.section .social-container {
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
}
.social-info img {
  width: 115px;
  height: auto;
  margin-left: 32px;
  margin-bottom: 8px;
}
.icons {
  margin-top: 15px;
}
.icons img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.item {
  margin-bottom: 8px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.item img {
  width: 20px;
  height: 18px;
  object-fit: contain;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.map a img {
  width: 21vw;
}
.social-container {
  width: 90vw;
  padding-bottom: 20px;
}
.copyright {
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #e0e0e0;
  width: 91vw;
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-icons img {
  width: auto;
  height: 30px;
}
.copyright .copyright-text {
  font-family: "Poppins", sans-serif;
  font-size: small;
}
@media (max-width: 765px) {
  .section .social-container {
    flex-direction: column;
  }
}
/*
@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }
  .item mat-card img {
    height: 194px;
  }
  .item mat-card {
    width: 190px;
  }
}
@media (max-width: 360px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .item mat-card img {
    height: 154px;
  }
  .item mat-card {
    width: 151px;
  }
} */
