<mat-toolbar>
  <mat-toolbar-row class="nav-contact">
    <span class="text-livraison">
      <span class="text-promo">LIVRAISON GRATUITE</span> dès 400 dhs d’achat
      partout au Maroc 👉 0660 555 704
    </span>
    <span class="example-spacer"></span>
    <div class="icons" style="margin-right: 100px">
      <a href="mailto:contact@casakids.ma">contact@casakids.ma</a>
      <img src="./assets/facebook-ico.svg" alt="facebook ico" />
      <img src="./assets/tiktok-ico.svg" alt="tiktok ico" />
      <img src="./assets/instagram-ico.svg" alt="instagram ico" />
      <img src="./assets/youtube-ico.svg" alt="youtube ico" />
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-search">
    <span class="logo"><img src="./assets/logo-casakids.png" /></span>
    <form class="search" id="search-form">
      <div class="search-input">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Recherche de produits"
        />
        <mat-icon>search</mat-icon>
      </div>
    </form>
    <div class="phone">
      <div class="back"><mat-icon>phone</mat-icon></div>

      <div class="phone-num">
        <a href="tel:+212522222221">+2125 22 22 22 21</a>

        <span>Lun-Sam: 9h - 19h</span>
      </div>
    </div>
    <div class="cart">
      <a href=""><img src="./assets/cart-ico.svg" alt="shopign cart" /></a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-categorie">
    <div class="categorie-bar">
      <div>
        <img
          src="https://img.icons8.com/material-rounded/20/null/home-page.png"
        />
        <span>ACCUEIL</span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/ios-glyphs/20/null/men-age-group-1.png"
        />
        <span>POUSSETTES</span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/ios-filled/20/null/baby-car-seat.png"
        />
        <span>SIÉGE AUTO </span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/sf-black-filled/20/null/baby-bottle.png"
        />
        <span>ALIMENTATION</span>
      </div>

      <div>
        <img src="https://img.icons8.com/ios-filled/20/null/baby-mobile.png" />
        <span>Sommeil</span>
      </div>
      <div>
        <img
          src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/20/null/external-diaper-baby-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
        />
        <span>Hygiène</span>
      </div>
      <div>
        <img
          src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/20/null/external-Pregnant-mother's-day-smashingstocks-glyph-smashing-stocks.png"
        />
        <span>Maternité</span>
      </div>
      <div>
        <img src="https://img.icons8.com/ios-filled/20/null/gift--v1.png" />
        <span>Liste de naissance</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
