<mat-toolbar>
  <mat-toolbar-row class="nav-contact">
    <div class="livraison-container">
      <span class="text-livraison">
        <span class="text-promo">LIVRAISON GRATUITE</span> dès 400 dhs d’achat
        partout au Maroc <span class="livraison-number">👉 0660 555 704</span>
      </span>
    </div>

    <span class="example-spacer"></span>
    <div class="icons" style="margin-right: 8vw">
      <a href="mailto:contact@casakids.ma">contact@casakids.ma</a>
      <img src="./assets/facebook-ico.svg" alt="facebook ico" />
      <img src="./assets/tiktok-ico.svg" alt="tiktok ico" />
      <img src="./assets/instagram-ico.svg" alt="instagram ico" />
      <img src="./assets/youtube-ico.svg" alt="youtube ico" />
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-search">
    <a routerLink="/">
      <span class="logo"><img src="./assets/navbar/logo-casakids.png" /></span>
    </a>
    <form class="search" id="search-form">
      <div class="search-input">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Recherche de produits"
        />
        <mat-icon>search</mat-icon>
      </div>
    </form>
    <div class="phone">
      <div class="back"><mat-icon>phone</mat-icon></div>

      <div class="phone-num">
        <a href="tel:+212522222221">+2125 22 22 22 21</a>

        <span>Lun-Sam: 9h - 19h</span>
      </div>
    </div>
    <span class="example-spacer"></span>
    <div class="cart">
      <a href=""><img src="./assets/navbar/panier.png" alt="shopign cart" /></a>
      <span id="targetButton" (click)="openDialog()">
        <img src="./assets/navbar/menu.png" alt="menu" />
      </span>
      <div #container class="root-container"></div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-categorie">
    <div class="categorie-bar">
      <ng-container *ngFor="let navCategorie of navCategories">
        <a [routerLink]="[navCategorie.routerLink]">
          <div>
            <img [src]="navCategorie.img" />
            <span>{{ navCategorie.name }}</span>
          </div>
        </a>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
