@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.nav-contact {
  background-color: #641fa0;
  color: white;
  font-size: 70%;
  height: 2.7rem;
}
.text-livraison {
  font-family: "Roboto", sans-serif;

  padding-left: 8vw;
}

.nav-contact .icons {
  padding-right: 80px;
}
.nav-contact .icons img {
  margin-left: 15px;
}
.nav-contact .icons a {
  font-style: none;
  color: white;
  text-decoration: none;
}

.text-promo {
  background-color: #d837e3;
  padding: 2px 5px 2px 5px;
}

/*search */

.nav-search {
  height: 12vh;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  border-bottom: solid #dddde0 1px;
}
.categorie-bar a {
  color: black;
  text-decoration: none;
}
.logo img {
  width: 100px;
  margin-top: 15px;
  margin-left: 22px;

  margin-bottom: 8px;
}
#search-form .search-input input {
  width: 58vw;
  height: 6vh !important;
  background-color: #f5f6f7;
  border-style: none;
  border-radius: 3vh;
  padding-left: 15px;
  margin-left: 4vw;
  font-size: medium;
}
.search-input {
  position: relative;
}
#search-form .search-input mat-icon {
  position: absolute;
  top: 10px;
  right: 14px;
}

.phone .back {
  background-color: #f5f6f7;
  height: 7vh;
  width: 7vh;
  border-radius: 100%;
  padding: 14px 11px 11px 13px;
  margin-right: 10px;
  margin-left: 32px;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-num {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.phone-num a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
}
.phone-num span {
  font-weight: normal;
  font-size: medium;
}
.cart a img {
  width: 28px;
  margin-left: 132px;
}
#targetButton img {
  display: none;
}

/* navbar des categories*/
.nav-categorie {
  background-color: #fdfdfd;
  border-bottom: solid #dddde0 1px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  /* font-weight: bolder; */
  font-size: large;
}
.categorie-bar {
  display: flex;
}
.categorie-bar div {
  margin-left: 30px;
  font-size: 85%;
  font-weight: 550;
}
.categorie-bar div img {
  padding-right: 5px;
  text-align: center;
  padding-bottom: 5px;
}

@media screen and (max-width: 476px) {
  .livraison-container span .livraison-number {
    display: none;
  }
  .livraison-container span:last-of-type {
    display: inline;
  }
}

@media screen and (max-width: 890px) {
  .nav-contact {
    height: 2.5rem;
  }
  .text-livraison {
    font-size: smaller;
    padding-left: 10px;
  }
  .icons {
    display: none;
  }
  .nav-search {
    height: auto;
  }
  .cart a img {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1262px) {
  .text-livraison {
    padding-left: 10px;
  }
  .nav-contact .icons {
    padding-right: 0px;
  }
  .logo img {
    width: 65px;
    margin-top: 8px;
    margin-left: 0px;
    margin-bottom: 8px;
  }
  #search-form .search-input input {
    width: 52vw;
    height: 4.5vh !important;
    font-size: small;
  }

  #search-form .search-input mat-icon {
    top: 7.5px;
    right: 7px;
  }
  #targetButton img {
    display: inline;
  }
  .phone {
    display: none;
  }
  .cart img {
    width: 25px;
    margin-left: 15px;
  }
  .cart {
    margin-right: 15px;
  }

  .nav-categorie {
    display: none;
  }
}
