.panier-section {
  max-width: 100%;
  margin: 20px 35px 20px 35px;
}

.panier-header h1 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 0px 35px 0px 0px;
}
.panier-header sup {
  font-size: 12px;
  vertical-align: super;
  font-weight: 300;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 8px 10px 8px;
}

.btn-valide {
  background-color: #500c7c;
  color: white;
}

.buttons a {
  height: 40px;
  text-align: center;
}
.paniervide-img img {
  width: 25vw;
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-vide {
  font-size: medium;
  font-family: "Poppins", sans-serif;
}
.btn-purple {
  margin-top: 10px;
  background-color: #680ca4;
  color: white;
  width: 20vw;
  height: 3rem;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 992px) {
  .buttons {
    display: none;
  }
}
