<app-navbar></app-navbar>
<section class="panier-section">
  <div class="panier-header">
    <h1>
      Panier
      <sup class="product-length">{{ panierSize }}</sup>
    </h1>
  </div>
  <!-- cart + summary -->
  <section class="my-3" *ngIf="!panierVide">
    <div class="">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-8">
          <!-- Cart Item -->
          <div
            class="card border shadow-0 mb-2"
            *ngFor="let product of panierData"
          >
            <div class="m-4">
              <h4 class="card-title mb-4"></h4>
              <div class="row gy-3 mb-4">
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img
                        [src]="product.image"
                        class="border rounded me-3"
                        style="width: 96px; height: 96px"
                      />
                      <div class="">
                        <a href="#" class="nav-link">
                          {{ product.title }}
                        </a>
                        <!-- <p class="text-muted">Yellow, Jeans</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap"
                >
                  <!-- product count -->
                  <div class="">
                    <mat-form-field
                      appearance="outline"
                      class="counter"
                      style="width: 100px"
                      class="me-4"
                    >
                      <input
                        matInput
                        min="1"
                        [value]="product.quantity"
                        [ngxMatNumberSpinner]="[spinnerDown, spinnerUp]"
                        id="quantity"
                        required
                        (change)="updateCartItemQuantity(product.id, $event)"
                      />
                      <button
                        style="width: fit-content"
                        type="button"
                        mat-icon-button
                        matPrefix
                        ngxMatNumberDecrementSpinner
                        #spinnerDown="ngxMatNumberDecrementSpinner"
                      >
                        -
                      </button>
                      <button
                        style="width: fit-content"
                        type="button"
                        mat-icon-button
                        matSuffix
                        ngxMatNumberIncrementSpinner
                        #spinnerUp="ngxMatNumberIncrementSpinner"
                      >
                        +
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="">
                    <p class="h6">dh {{ product.price * product.quantity }}</p>
                    <small class="text-muted text-nowrap">
                      dh {{ product.price }} / par item
                    </small>
                  </div>
                </div>
                <div
                  class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"
                >
                  <div class="float-md-end">
                    <a
                      (click)="deleteProductFromCart(product.id)"
                      class="btn btn-light border text-danger icon-hover-danger"
                    >
                      Supprimer
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Cart Item -->
          <!-- vider panier retour -->
          <div class="buttons">
            <div class="mt-3">
              <a
                (click)="deleteAllProductsFromCart()"
                class="btn-valide btn w-40 shadow-0 me-3"
              >
                Vider le panier
              </a>
              <a routerLink="/" class="btn btn-light w-30 border">
                Retour à la boutique
              </a>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        <div class="col-lg-4">
          <div class="card mb-3 border shadow-0">
            <div class="card-body">
              <form [formGroup]="promoInput" (ngSubmit)="validateCouponCode()">
                <div class="form-group">
                  <label class="form-label">Code Promo?</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control border couponInput"
                      [formControl]="promoInput.controls.code"
                      placeholder="Code Promo"
                    />
                    <button
                      class="btn btn-light border couponBtn"
                      type="submit"
                    >
                      Appliquer
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Sous Total:</p>
                <p class="mb-2 fw-bold">{{ prixTotal }} dh</p>
              </div>
              <div class="d-flex justify-content-between" *ngIf="couponActive">
                <p class="mb-2">Discount:</p>
                <p
                  class="mb-2 text-success"
                  *ngIf="couponData.type == 'price_discount'"
                >
                  -{{ couponData.value }} dh
                </p>
                <p
                  class="mb-2 text-success"
                  *ngIf="couponData.type == 'percentage'"
                >
                  -{{ couponData.value }}%
                </p>
              </div>
              <hr />
              <!-- Expedition section -->
              <div class="d-flex justify-content-between">
                <p class="mb-2">Expédition</p>
                <div class="radio-container">
                  <div class="form-check mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      (change)="onChangeRadio($event)"
                      value="40.00"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Amana (tout le Maroc):
                      <span class="fw-bold">40.00 DH</span>
                    </label>
                  </div>

                  <!-- Default checked radio -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      (change)="onChangeRadio($event)"
                      name="flexRadioDefault"
                      value="29.00"
                      id="flexRadioDefault2"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Livraison Casablanca:
                      <span class="fw-bold">29.00 DH</span>
                    </label>
                  </div>
                  Livraison à <span class="fw-bold">{{ adresse }}</span>
                </div>
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Prix Total:</p>
                <p class="mb-2 fw-bold">{{ prixTotalAvecExpidition }} dh</p>
              </div>

              <div class="mt-3">
                <a href="#" class="btn-valide btn w-100 shadow-0 mb-2">
                  Valider Panier
                </a>
                <a routerLink="/" class="btn btn-light w-100 border mt-2">
                  Retour à la boutique
                </a>
              </div>
              <notifier-container></notifier-container>
            </div>
          </div>
        </div>
        <!-- summary -->
      </div>
    </div>
  </section>
  <!-- si le panier est vide -->
  <section class="my-3 error-container" *ngIf="panierVide">
    <div class="paniervide-img">
      <img src="../../assets/error/empty-cart.svg" alt="Panier Vide" />
    </div>
    <div class="text-vide">Votre panier est actuellement vide.</div>
    <div>
      <button class="btn btn-purple" routerLink="/">
        Retour à la boutique
      </button>
    </div>
  </section>
</section>
