<div class="dialogContainer">
  <div class="header-container">
    <div class="title"><span>Menu</span></div>
    <div class="returnButton">
      <mat-icon mat-button mat-dialog-close>clear</mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="categorie-bar">
      <ng-container *ngFor="let navCategorie of navCategories">
        <a [routerLink]="[navCategorie.routerLink]">
          <div>
            <img [src]="navCategorie.img" />
            <span>{{ navCategorie.name }}</span>
          </div>
        </a>
      </ng-container>
    </div>

    <div class="dialogFooter">
      <div class="phone-ico">
        <img src="../../assets/navbar/telephone.png" alt="phone" />
      </div>
      <div class="number">+2125 22 22 22 21</div>
      <div class="horaire">Lun-Sam: 9h -19h</div>
    </div>
  </div>
</div>
