<div class="dialogContainer">
  <div class="header-container">
    <div class="title"><span>Menu</span></div>
    <div class="returnButton">
      <mat-icon mat-button mat-dialog-close>clear</mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="categorie-bar">
      <div>
        <img
          src="https://img.icons8.com/material-rounded/20/null/home-page.png"
        />
        <span>ACCUEIL</span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/ios-glyphs/20/null/men-age-group-1.png"
        />
        <span>POUSSETTES</span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/ios-filled/20/null/baby-car-seat.png"
        />
        <span>SIÉGE AUTO </span>
      </div>

      <div>
        <img
          src="https://img.icons8.com/sf-black-filled/20/null/baby-bottle.png"
        />
        <span>ALIMENTATION</span>
      </div>

      <div>
        <img src="https://img.icons8.com/ios-filled/20/null/baby-mobile.png" />
        <span>Sommeil</span>
      </div>
      <div>
        <img
          src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/20/null/external-diaper-baby-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
        />
        <span>Hygiène</span>
      </div>
      <div>
        <img
          src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/20/null/external-Pregnant-mother's-day-smashingstocks-glyph-smashing-stocks.png"
        />
        <span>Maternité</span>
      </div>
      <div>
        <img src="https://img.icons8.com/ios-filled/20/null/gift--v1.png" />
        <span>Liste de naissance</span>
      </div>
    </div>

    <div class="dialogFooter">
      <div class="phone-ico">
        <img src="../../assets/navbar/telephone.png" alt="phone" />
      </div>
      <div class="number">+2125 22 22 22 21</div>
      <div class="horaire">Lun-Sam: 9h -19h</div>
    </div>
  </div>
</div>
