<div class="section">
  <div class="images">
    <img src="../../assets/images/product.jpeg" alt="product" />
  </div>
  <div class="product-description">
    <h1 class="product-title">Poussette Pour Bébé BLANC – JUMA</h1>
    <a href="">Écrire un commentaire </a>

    <p>Avantages du produit en un coup d’œil</p>
    <ol>
      <li>
        Transformez le berceau en un accessoire de buggy en quelques étapes
        simples
      </li>
      <li>
        Ceinture de sécurité 5 points, barre de sécurité, frein à pied, pneus
        avant verrouillables
      </li>
      <li>Confort optimal grâce à une suspension 2 fois</li>
      <li>La poussette peut être complètement pliée en quelques secondes</li>
      <li>
        Un siège d’auto est inclus dans le cadre de la livraison, qui peut être
        utilisé comme accessoire pour la poussette
      </li>
    </ol>
  </div>
</div>
