<app-navbar></app-navbar>
<div class="product-section" *ngFor="let item of product">
  <div class="product-container">
    <div class="slider-container">
      <ngx-slick-carousel
        #slickComponent="slick-carousel"
        class="carousel"
        [config]="slickCarouselConfig"
      >
        <div ngxSlickItem class="images">
          <ng-container>
            <img [src]="item.image" alt="product" />
          </ng-container>
        </div>
        <div
          ngxSlickItem
          *ngFor="let image of images; let i = index"
          class="images"
        >
          <ng-container>
            <img [src]="image" alt="" />
          </ng-container>
        </div>
      </ngx-slick-carousel>

      <div class="thumbnail-images">
        <div class="thumbnail" (click)="showImage(0)">
          <a><img [src]="item.image" alt="Thumbnail Image" /></a>
        </div>
        <div
          *ngFor="let image of images; let i = index"
          class="thumbnail"
          (click)="showImage(i + 1)"
        >
          <a><img [src]="image" alt="Thumbnail Image" /></a>
        </div>
      </div>
    </div>

    <div class="product-description">
      <div class="title-container">
        <h1 class="product-title">{{ item.titre }}</h1>
        <a href="" class="comment-link">Écrire un commentaire </a>
      </div>
      <div class="short-description">
        <p>Avantages du produit en un coup d’œil</p>
        <ul>
          <li>
            Transformez le berceau en un accessoire de buggy en quelques étapes
            simples
          </li>
          <li>
            Ceinture de sécurité 5 points, barre de sécurité, frein à pied,
            pneus avant verrouillables
          </li>
          <li>Confort optimal grâce à une suspension 2 fois</li>
          <li>
            La poussette peut être complètement pliée en quelques secondes
          </li>
          <li>
            Un siège d’auto est inclus dans le cadre de la livraison, qui peut
            être utilisé comme accessoire pour la poussette
          </li>
        </ul>
      </div>
      <div class="price-container">
        <div class="prices">
          <h2>{{ item.prix | number : "1.2-2" : "fr" }} MAD</h2>
          <h3 *ngIf="item.tauxPromo">
            {{
              item.prix - (item.prix * item.tauxPromo) / 100
                | number : "1.1-2" : "fr"
            }}
            MAD
          </h3>
        </div>

        <div class="livraison">
          <img src="../../assets/product/livraison.png" alt="livraison image" />
        </div>
      </div>

      <div class="signup-form">
        <form [formGroup]="inputForm" (ngSubmit)="submitRecord()">
          <div class="name-phone">
            <ng-container>
              <mat-form-field appearance="outline" class="first-line-input">
                <mat-label>Nom et Prénom</mat-label>
                <input
                  matInput
                  placeholder="Nom et Prénom"
                  id="fullName"
                  [formControl]="inputForm.controls.fullName"
                  required
                />
                <mat-error *ngIf="!inputForm.hasError('required')">
                  Nom et Prénom sont <strong>requis</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="first-line-input">
                <mat-label>Numéro de téléphone</mat-label>
                <input
                  matInput
                  placeholder="Numéro de téléphone"
                  id="telephone"
                  [formControl]="inputForm.controls.phone"
                  required
                />
                <mat-error *ngIf="!inputForm.hasError('required')">
                  Numéro de téléphone est <strong>requis</strong>
                </mat-error>

                <mat-error *ngIf="!inputForm.hasError('pattern')">
                  Numéro de téléphone est <strong>incorrecte</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="adresse">
            <mat-form-field appearance="outline" class="second-line-input">
              <mat-label>Adresse</mat-label>
              <input
                matInput
                placeholder="adresse"
                id="address"
                [formControl]="inputForm.controls.adress"
                required
              />

              <mat-error *ngIf="!inputForm.hasError('required')">
                Adresse est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="quantite">
            <ng-container>
              <mat-form-field appearance="outline" class="counter">
                <input
                  matInput
                  min="1"
                  [value]="initialValue"
                  [ngxMatNumberSpinner]="[spinnerDown, spinnerUp]"
                  id="quantity"
                  [formControl]="inputForm.controls.quantity"
                  required
                />

                <button
                  type="button"
                  mat-icon-button
                  matPrefix
                  ngxMatNumberDecrementSpinner
                  #spinnerDown="ngxMatNumberDecrementSpinner"
                >
                  -
                </button>
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  ngxMatNumberIncrementSpinner
                  #spinnerUp="ngxMatNumberIncrementSpinner"
                >
                  +
                </button>
                <mat-error *ngIf="!inputForm.hasError('required')">
                  Quantité est <strong>requis</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>

            <button type="submit" class="submit-button">
              <span>
                <svg
                  width="28px"
                  height="28px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.7071 6.29289C20.0976 6.68342 20.0976 7.31658 19.7071 7.70711L10.4142 17C9.63316 17.7811 8.36683 17.781 7.58579 17L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L18.2929 6.29289C18.6834 5.90237 19.3166 5.90237 19.7071 6.29289Z"
                    fill="currentColor"
                  />
                </svg>
                Ajouter au panier
              </span>
            </button>
          </div>
        </form>
      </div>
      <div class="social-media">
        <a
          href="https://www.facebook.com/sharer/sharer.php?u=https://fatihab1.sg-host.com/product/poussette-pour-bebe-blanc-juma/"
        >
          <img src="../../assets/product/facebook.svg" alt="facebook" />
        </a>
        <a
          href="https://twitter.com/intent/tweet?text=https://fatihab1.sg-host.com/product/poussette-pour-bebe-blanc-juma/"
        >
          <img src="../../assets/product/twitter.svg" alt="twitter" />
        </a>
        <a
          href="https://pinterest.com/pin/create/button/?url=https://fatihab1.sg-host.com/product/poussette-pour-bebe-blanc-juma/&media=https://fatihab1.sg-host.com/wp-content/uploads/2022/10/WhatsApp-Image-2022-08-07-at-23.37.05-2.jpeg"
        >
          <img src="../../assets/product/pinterest.svg" alt="pinterest" />
        </a>
        <a
          href="http://linkedin.com/shareArticle?mini=true&url=https://fatihab1.sg-host.com/product/poussette-pour-bebe-blanc-juma/&title=poussette-pour-bebe-blanc-juma"
        >
          <img src="../../assets/product/linkedin.svg" alt="linkedin" />
        </a>
      </div>
    </div>
  </div>
  <app-description-product></app-description-product>
</div>
<app-footer></app-footer>
