.product-container {
  display: flex;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}
.images img {
  width: 40vw;
  height: 53vw;
  object-fit: cover;
}
.product-description {
  padding-top: 15px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.product-description .product-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 18px;
}

.product-description .comment-link {
  text-decoration: none;
  color: black;
}
.product-description .comment-link:hover {
  color: #3e56d2;
}
.short-description {
  margin-top: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-bottom: solid #dddde0 1px;
}
.short-description p {
  margin-bottom: 18px;
}

.short-description ul {
  padding-left: 0.7rem;
}
.short-description ul li {
  padding-bottom: 11px;
}
.price-container {
  margin-bottom: 1.2rem;
}
.price-container .prices {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
.prices h2 {
  font-size: 30px;
  padding-right: 15px;
  font-weight: 600;
}
.prices h3 {
  font-size: 20px;
  text-decoration: line-through;
  color: #95a5ad;
}
.first-line-input {
  width: 380px;
  margin-right: 18px;
}
.second-line-input {
  width: 778px;
}
.counter {
  width: 116px;
}
.submit-button {
  width: 350px;
  color: white;
  background-color: #0c1734;
  border: none;
  height: 55px;
  border-radius: 6px;
  margin-left: 15px;
  transition: 0.5s;
  text-align: center;
}
.submit-button:hover {
  color: black;
  background-color: white;
  border: solid 1px #0c1734;
}
mat-form-field {
  margin-bottom: 7px;
}
.signup-form {
  padding-bottom: 10px;
  border-bottom: solid 1px #dddde0;
}
.social-media {
  border-bottom: solid 1px #dddde0;
}
.social-media img {
  padding-top: 1.7rem;
  padding-bottom: 1.6rem;
  width: 28px;
  margin-right: 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carousel {
  max-width: 40vw;
  margin-bottom: 7px;
}

.slide img {
  max-width: 100%;
}
.slide img:hover {
  transform: scale(1.5);
}

.thumbnail-images {
  display: flex;
  justify-content: start;
}

.thumbnail {
  margin-right: 10px;
  cursor: pointer;
}

.thumbnail img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 0 1px;
  border: 2px solid #ccc;
}

.thumbnail img:hover {
  border-color: #007bff;
}
