<div class="section">
  <h1 class="description">Description</h1>
  <div class="long-description">
    <h1 class="product-title">
      Poussette combi Juma avec siège auto pour bébé
    </h1>
    <h2 class="short-title">FLEXIBILITÉ</h2>
    <p>
      La poussette combi JUMA est le compagnon idéal pour toutes les situations
      quotidiennes. La poussette est variable et peut être facilement
      transformée en buggy. Le siège d’auto pour bébé inclus peut être utilisé
      comme siège d’auto ou comme accessoire pour la poussette, de sorte que
      vous êtes encore plus flexible. Vous pouvez les connecter avec les
      adaptateurs fournis. Grâce aux différentes fonctionnalités, la poussette
      grandit avec votre enfant et peut être adaptée individuellement aux
      besoins de votre enfant en fonction de l’âge de votre enfant . La position
      couchée/assise est réglable 3 fois. selon la direction dans laquelle vous
      attachez l’attache de la poussette, la direction de la vue de votre enfant
      peut être modifiée afin que vous puissiez le regarder ou que votre enfant
      puisse explorer les environs.
    </p>
    <h2 class="short-title">SÉCURITÉ</h2>
    <p>
      En plus des différentes fonctionnalités, le modèle JUMA vous offre une
      sécurité optimale. Avec la ceinture de sécurité à 5 points, votre enfant
      est bien protégé. La barre de sécurité offre une protection supplémentaire
      contre les chutes. La barre de protection est amovible. Les roues arrière
      peuvent être déterminées par le frein à pied. Les roues avant peuvent être
      pivotées à 360°, mais celles-ci peuvent également être déterminées par le
      frein existant. La poussette est conforme aux directives de l’UE et est
      testée selon la norme EN1888:2012
    </p>
  </div>
</div>
