@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.prod-slide {
  width: 220px !important;
  margin-right: 30px;
}
.product-card {
  position: relative;
}
.product-card .promoPourcentage {
  position: absolute;
  color: #fff;
  background-color: #f33823;
  font-size: small;
  font-family: "Poppins", sans-serif;
  font-size: x-small;
  width: 38px;
  text-align: center;
  font-weight: bold;
  height: 18px;
}

.prod-slide mat-card {
  /* height: 40vh; */
  box-shadow: none;
  width: 228px;
}

.swiper-container {
  width: 100%;
}

/* image div*/
.prod-slide mat-card img {
  height: 222px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.prod-slide mat-card img:hover {
  filter: brightness(75%);
}

/* prices  div*/
.prod-slide mat-card mat-card-content .prices {
  margin-top: 10px;
  margin-bottom: 10px;
}
.prod-slide mat-card mat-card-content .prices .main-price {
  color: #ec3c74;
  font-family: "Poppins", sans-serif;

  font-size: 15px;
  margin-right: 8px;
  font-weight: bold;
}
.prod-slide mat-card mat-card-content .prices .promo-price {
  color: #6b8c9c;
  font-family: "Poppins", sans-serif;
  text-decoration: line-through;
  font-size: 12px;
}
.prod-slide {
  position: relative;
}

.hover-image {
  position: absolute;
  top: 100px;
  right: 5px;
  transform: translateX(-15px);
}
.hover-image {
  width: 30px;
  cursor: pointer;
}
img:hover .hover-image {
  display: block;
}
mat-card-content a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: black;
  padding-top: 5px;
}
