<!-- <swiper-container
  class="swiper"
  [slidesPerView]="4"
  navigation="true"
  [loop]="true"
  autoplay-delay="5000"
  autoplay-disable-on-interaction="false"
  style="
    --swiper-navigation-color: #000;
    --swiper-navigation-size: 24px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
  "
>
  <div class="swiper-slide prod-slide" *ngFor="let product of promoProducts">
    <ng-container>
      <mat-card class="product-card">
        <img mat-card-image [src]="product.image" alt="Photo of a product" />
        <span class="promoPourcentage">-{{ product.tauxPromo }}%</span>
        <mat-card-content>
          {{ product.titre }}
          <div class="prices">
            <span class="main-price">{{ product.prix }} MAD</span>

            <span class="promo-price" *ngIf="product.tauxPromo">
              {{
                product.prix - (product.prix * product.tauxPromo) / 100
                  | number : "1.1-2" : "fr"
              }}
              MAD
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</swiper-container> -->
<ngx-slick-carousel
  class="carousel swiper-container"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div
    ngxSlickItem
    *ngFor="let product of promoProducts"
    class="slide prod-slide"
  >
    <ng-container>
      <mat-card class="product-card">
        <img mat-card-image [src]="product.image" alt="Photo of a product" />
        <span class="promoPourcentage">-{{ product.tauxPromo }}%</span>
        <mat-card-content>
          {{ product.titre }}
          <div class="prices">
            <span class="main-price">{{ product.prix }} MAD</span>

            <span class="promo-price" *ngIf="product.tauxPromo">
              {{
                product.prix - (product.prix * product.tauxPromo) / 100
                  | number : "1.1-2" : "fr"
              }}
              MAD
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</ngx-slick-carousel>
