<ngx-slick-carousel
  class="carousel swiper-container"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div
    ngxSlickItem
    *ngFor="let product of promoProducts"
    class="slide prod-slide"
  >
    <ng-container>
      <mat-card class="product-card">
        <a routerLink="/product/{{ product.id }}">
          <img mat-card-image [src]="product.image" alt="Photo of a product" />
        </a>
        <span class="promoPourcentage">-{{ product.tauxPromo }}%</span>
        <mat-card-content>
          <a routerLink="/product/{{ product.id }}">
            <span>{{ product.titre }}</span>
          </a>
          <div class="prices">
            <span class="main-price">{{ product.prix }} MAD</span>

            <span class="promo-price" *ngIf="product.tauxPromo">
              {{
                product.prix - (product.prix * product.tauxPromo) / 100
                  | number : "1.1-2" : "fr"
              }}
              MAD
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</ngx-slick-carousel>
